.body, html {
  height: 100%;
  margin: 0;
  cursor: url('/cur/Default.cur'), auto;
}

.window {
  position: absolute;
  width: 1000px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 添加overflow属性，防止内容溢出窗口 */
}
.title-bar {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 5px;
}

.buttons button {
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;
  display: flex;
  align-items: stretch;
}

.rectangle {
  flex: 1;
  background-color: #f0f0f0;
  margin: auto;
  overflow: auto; /* 添加overflow属性，允许内容超出框时显示滚动条 */
}

.rectangle textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.tab-content {
  padding: 20px;
  overflow: auto;
  text-align: center;
}

.btn img {
  max-width: 100%;
  margin-top: 10px;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
